.principal-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    width: 100%;
    
}

h1, h2, h3, h4, p {
    color: var(--letter-dark);
}

.principal-content h1 {
    font-size: 28px;
}

.principal-content span {
    color: var(--letter-light);
}


.message-content {
    margin-left: 150px;
    width: 100%;
    display: block; 
}


.footer {
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
    position: relative; 
}
