.slider {
    width: 50vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative; /* Asegura que los pseudo-elementos se posicionen correctamente */
}

.slider::before, .slider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px; /* Aumento del ancho del desvanecimiento */
    background: linear-gradient(to right, rgba(242, 242, 242, 0.9), rgba(242, 242, 242, 0)); /* Degradado hacia la derecha */
    pointer-events: none; /* Evita la interacción con el usuario */
    z-index: 1; /* Asegura que el degradado se muestre por encima del contenido del slider */
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, rgba(242, 242, 242, 0.9), rgba(242, 242, 242, 0)); /* Degradado hacia la derecha desde el borde izquierdo */
}

.slider::after {
    right: 0;
    width: 60px; /* Aumento del ancho del desvanecimiento */
    background: linear-gradient(to left, rgba(242, 242, 242, 0.9), rgba(242, 242, 242, 0)); /* Degradado hacia la izquierda desde el borde derecho */
}

.slider .slide-track {
    display: flex;
    animation: scroll 67s linear infinite;
    -webkit-animation: scroll 67s linear infinite;
    width: calc(120px * 14); 
    align-items: center;
    position: relative; /* Asegura que el contenido del slider esté sobre el degradado */
}

.slider .slide {
    width: 120px;
    height: 100%;
}

.slider .slide img {
    width: 100%;
    height: auto;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-120px * 7)); 
        transform: translateX(calc(-120px * 7)); 
    }
}
