.main-menu{
  
    margin-bottom: 200px;
    margin-top: 0px;
    margin-right: 50px;
    
    
}

.main-menu ul{
    text-align: center;
    display: flex;
    gap: 10px;
    float: right;
    
    
}

.main-menu ul li{
    margin: 10px 0;
    float: none;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid rgb(133, 106, 133);
    
}

.main-menu ul li a{
    padding: 10px 100px;
    font-size: 22px;
}