@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/main-menu.css';
@import './styles/content.css';
@import './styles/header.css';

:root {
  --letter-dark: rgb(133, 134, 122);
  --letter-light: rgb(234, 237, 200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--letter-light);
  background-color: rgb(40, 0, 31);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
