.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main-menu ul li {
    position: relative;
}

.main-menu ul li a {
    font-size: 20px;
    color: var(--letter-light); 
    text-decoration: none;
    padding: 10px 15px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    display: inline-block;
    border-radius: 15px;
}

.main-menu ul li a:hover {
    background-color: #e5daff;
    border-radius: 15px;
    transform: scale(1.1);
}

.main-menu ul li a:active {
    transform: scale(0.95); 
}
